#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

/* CSS du File Uploader d'Uploadcare*/
uc-file-uploader-regular,
uc-file-uploader-regular * {
  --uc-simple-btn-light: rgb(230, 230, 230) !important;
  --uc-simple-btn-dark: #101828 !important;
  --uc-simple-btn-hover-light: rgb(200, 200, 200) !important;
  --uc-simple-btn-hover-dark: rgb(118, 118, 118) !important;
  --uc-button-size: 24px !important;

  --uc-border-light: rgb(205, 207, 207) !important;
  --uc-border-dark: rgb(205, 207, 207) !important;
  --uc-simple-btn-font-size: 14px !important;
  --uc-simple-btn-padding: 3px 3px !important;
}

/* Définition de l'arrondissement des bords du bouton de chargement*/
uc-file-uploader-regular uc-simple-btn {
  --uc-radius: 25px !important;
}

/* Cacher le texte par défaut du bouton de chargement */
uc-file-uploader-regular uc-simple-btn button > span,
uc-file-uploader-regular uc-simple-btn button .uploadcare--button__text,
uc-file-uploader-regular uc-simple-btn button .uploadcare--button__caption {
  display: none !important;
}
/* Fin CSS du File Uploader d'Uploadcare*/

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Style personnalisé pour ton scrollbar */
.my-scrollbar {
  scrollbar-width: 5px; /* Firefox */
}

/* Chrome / Edge / Safari */
.my-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.my-scrollbar::-webkit-scrollbar-track {
  background-color: green !important;
}

.my-scrollbar::-webkit-scrollbar-thumb {
  background-color: red !important;
}

.my-scrollbar::-webkit-scrollbar-thumb:hover {
  background: pink !important;
}
